body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url('img/ukeventsdisco2.JPG');
  background-size:100% 100%;
  font-size: 18px;
  overflow: hidden;
}

/*.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
*/
.topbar{
  height:32px;
  color: blue;
  font-family: helvetica;
  text-align: center;
}

.topbar a{
  text-decoration: none;
  position: relative;
  top: 10px;
  padding: 5px 12px;
  color:#FF6666;
  border: black 2px solid;
  border-radius: 30px;
  background-color: grey;
  transition: 400ms;
  left: auto;
  right: auto;
}

.topbar a:hover{
  background-color: white;
  opacity: .8;
  transition: 400ms;
}

.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.dancerContainer{
  position: absolute;

  height: 200px;
}

.head{
  background-image: url('img/heads/smiley.png');
  width: 90px;
  height: 120px;
  background-repeat: no-repeat;
  position: relative;
  left: 28px;
  background-size: 100% 100%;
  transition: 1000ms;
  z-index: 2;
  background-color: transparent
}

.head.left{
  transform: rotate(-45deg);
  left: 15px;
}

.head.right{
  transform: rotate(45deg);
  left: 40px;
}

.body{
  background-image: url('img/bodies/carlton.gif');
  width: 140px;
  height: 200px;
  background-repeat: no-repeat;
  position: relative;
  top: -77px;
  position-top: 0px;
  background-size: 100% 100%;
}

.dancerMenu{
  height: 500px;
  width: 500px;
  background-color: black;
  background-color: rgba(0,0,0,.5);
  position: relative;
  margin: auto auto;
  margin-top: 180px;
  z-index: 10000000;
  overflow: auto;
  transition: 500ms;
}

.dancerMenu.hidden{
  opacity:0;
  height:0;

}

.dancerProfile{
  background-image: url("img/heads/smiley.png");
  width: 80px;
  height: 120px;
  margin: 10px;
  margin-left: 20px;
  position: relative;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  border: 5px solid;
  transition: 200ms;
}

.dancerProfile:hover{
  background-color: white;
  opacity: .8;
  transition: 700ms;
}

.dancerName{
  position:relative;
  top: 110px;
  text-align: center;
  background-color: #FF6666;
  border-radius: 20px;
  overflow: hidden;
  color: #333;
}

.closeMenu{
  position: fixed;
  text-decoration: none;
  color: white;
  background-color: black;
  border-radius: 30px;
  border: black solid;
  z-index:5;
  opacity: .5;
  transition: 300ms;
}

.closeMenu:hover{
  opacity: 1;
  transition: 300ms;
}

.dancerMenuContainer{
  position: absolute;
  transition: 1500ms;
}

.dancerContainer{
  position: absolute;
  transition-property: top, left, transform;
  transition-duration: 1500ms, 1500ms, 1500ms;
}

div:hover.dancerContainer{
  border-radius: 50px;
  border: 2px solid;
}

.dancerContainer.backFlip{
  transform: rotateX(360deg);
  left: 15px;
}

.dancerContainer.doubleBackFlip{
  transform: rotateX(720deg);
  left: 15px;
}

.dancerContainer.spinMove{
  transform: rotateY(-1080deg);
  left: 15px;
}

.dancerContainer.tornado{
  transform: rotateY(-1080deg) rotateX(720deg);
  left: 15px;
}

.dancerContainer.tumble{
  transform: rotate(-360deg);
  left: 15px;
}

.dancerContainer.doubleTumble{
  transform: rotate(-360deg);
  left: 15px;
}
.dancerContainer.fat{
  transform: scaleX(2);
  left: 15px;
}

.head.spin{
  transform: rotate(-720deg);
}

.head.fred{
  background-image: url('img/heads/fred.png') !important;
}
